@use "@styles/partials/variables" as v;
@use "@styles/partials/mixins" as m;

.aboutWrapper {
  @include m.center-flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: v.$black;

  .textContainer {
    width: 100%;
    max-width: m.rem(1000);
    padding: 0 m.rem(32);
    text-align: center;

    .description {
      color: v.$white;
      font-size: m.rem(25);
      line-height: 1.6;
      margin-bottom: m.rem(32);
      font-weight: 100;
      font-family: v.$font-family-base;
    }
  }

  .linkWrapper {
    margin-top: m.rem(48);

    .link {
      padding: m.rem(16);
      border: v.$white 0.03rem solid;
      color: v.$white;
      font-size: m.rem(20);
      font-weight: 400;
      text-decoration: none;
      transition: transform 0.3s ease-in-out;
      border-radius: m.rem(8);

      &:hover {
        transform: scale(1.1);
        border-bottom: 1px solid v.$white;
      }
    }
  }
}

@include m.respond-to("tablet") {
  .description {
    font-size: m.rem(32) !important;
  }
  .linkWrapper .link {
    font-size: m.rem(24) !important;
    padding: m.rem(20) !important;
  }
}

@include m.respond-to("mobile") {
  .description {
    font-size: m.rem(24) !important;
  }
  .linkWrapper .link {
    font-size: m.rem(18) !important;
    padding: m.rem(16) !important;
  }
}

@include m.respond-to("small-mobile") {
  .description {
    font-size: m.rem(18) !important;
  }
  .linkWrapper .link {
    font-size: m.rem(14) !important;
    padding: m.rem(12) !important;
  }
}
