@use "@styles/partials/variables" as v;
@use "@styles/partials/mixins" as m;

.prompt {
  position: absolute;
  bottom: m.rem(10);
  right: m.rem(10);
  display: flex;
  align-items: center;
  gap: m.rem(8);
  z-index: 5;
  pointer-events: none;
  user-select: none;
  opacity: 0.6;
}

.number {
  font-size: m.rem(16);
  font-weight: 600;
  color: white;

  @media (max-width: 768px) {
    font-size: m.rem(13);
  }
}

.dotLine {
  width: m.rem(24);
  height: 1px;
  background-color: white;
  opacity: 0.8;

  @media (max-width: 768px) {
    width: m.rem(18);
  }
}
