@use "../partials/variables" as variables;
@use "../partials/mixins" as mixins;

.project-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;

  @include mixins.respond-to("tablet") {
    .project-wrapper {
      h2 {
        font-size: mixins.rem(32);
      }

      p {
        font-size: mixins.rem(18);
      }
    }
  }

  .project-wrapper {
    margin: 0 auto;
    text-align: center;

    h2 {
      color: variables.$white;
      font-size: mixins.rem(40);
      font-weight: bold;
    }

    p {
      color: variables.$gray;
      font-size: mixins.rem(24);
      line-height: 1.8;
    }
  }
}
