@use "@styles/partials/variables" as v;
@use "@styles/partials/mixins" as m;

.preloaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000000;
  @include m.center-flex;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
}

.logo {
  width: m.rem(100);
  height: auto;
}
