@use "../partials/variables";

* {
  margin: 0;
  padding: 0;
}

*:focus {
  box-shadow: none !important;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  overflow-x: hidden;
  background-color: $black;
}

section {
  display: block;
  height: 100vh;
}

/* Keyframe Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Home Page Wrapper */
.home-page {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.home-page:focus-visible {
  outline: none;
}

.section-container {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}

/* Landing Banner Styles */
.banner-wrapper {
  position: relative;
  background: black; // Default background before images load
}

.banner-image {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.banner-title-wrapper {
  position: absolute;
  bottom: 20%;
  left: 8%;
  z-index: 1;
  color: white;

  h1 {
    margin: 0;
    font-size: 4rem;
    font-weight: bold;
  }

  p {
    font-size: 2.5rem;
    margin-top: 0.5rem;
  }
}

/* About Section Styles */
.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;

  p {
    width: 60%;
    color: white;
    font-size: 2.1em;
  }

  a {
    color: white;
    font-size: 22px;
    margin-top: 1.5em;
    font-weight: 700;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.3);
    }
  }
}

/* Project Section Styles */
.project-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;

  .project-wrapper {
    margin: 0 auto;
    text-align: center;

    h2 {
      color: white;
      font-size: 2.5rem;
      font-weight: bold;
    }

    p {
      color: #aaa;
      font-size: 1.5rem;
      line-height: 1.8;
    }
  }
}

/* Responsive Adjustments */
@media (width <= 768px) {
  .banner-title-wrapper {
    width: 80%;

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.8rem;
    }
  }

  .about-wrapper p {
    width: 80%;
    font-size: 1.5em;
  }

  .project-wrapper h2 {
    font-size: 2rem;
  }

  .project-wrapper p {
    font-size: 1.2rem;
  }
}

@media (width <= 480px) {
  .banner-title-wrapper h1 {
    font-size: 2.5rem;
  }

  .banner-title-wrapper p {
    font-size: 1.4rem;
  }
}
