@use "@styles/partials/variables" as v;
@use "@styles/partials/mixins" as m;

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--overlay-background); // 0.6 opacity
  backdrop-filter: blur(10px);
}

.modalBackdrop {
  position: absolute;
  width: 100%;
  height: 100%;
}

.modalContent {
  position: relative;
  width: 100%;

  height: 100%;
  max-height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  .imageWrapper {
    width: 100%;
    flex-grow: 0.7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    img {
      max-width: 100%;
      max-height: 100dvh;
      object-fit: contain;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    }

    .direction {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .closeButton {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: none;
    background: none;
    color: var(--text-color);
    z-index: 999999;
    font-size: 2rem;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}

.thumbnailGallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
  overflow-x: auto;

  .thumbnailWrapper {
    border: none;
    height: 8rem;
    width: 12rem;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    .thumbnailImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.activeThumbnail {
      border: 2px solid rgba(0, 0, 0, 0.303);
    }
  }
}
@media (min-width: 769px) {
  .thumbnailGallery {
    gap: 2rem;
  }

  .thumbnailWrapper {
    height: 5rem;
    width: 5rem;
  }
}
