//WorksModal.module.scss:

@use "@styles/partials/variables" as v;
@use "@styles/partials/mixins" as m;

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--overlay-background);
  backdrop-filter: blur(10px);
}

.modalBackdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.modalContent {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 2;

  .closeButton {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: none;
    background: none;
    color: var(--text-color);
    z-index: 3;
    font-size: 2rem;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}

.imageWrapper {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .direction {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    &.left {
      left: 2rem;
      z-index: 10;
    }

    &.right {
      right: 2rem;
      z-index: 10;
    }
  }
}

.imageTransitionWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;

  &.zoomed {
    img {
      transform: scale(1.8);
      cursor: zoom-out;
      transition: transform 0.4s ease;
    }
  }

  img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease;
    cursor: zoom-out;
  }
}

.thumbnailContainer {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
}

.thumbnailGallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  overflow-x: auto;
  @media (max-width: 768px) {
    margin-bottom: 40%; // ✅ Tablet
  }

  .thumbnailWrapper {
    border: none;
    height: 6rem;
    width: 6rem;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 10;
    .thumbnailImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.activeThumbnail {
      border: 3px solid rgb(237, 237, 237);
    }

    @media (max-width: 768px) {
      height: 4rem;
      width: 4rem;
    }
  }
}
