@use "@styles/partials/variables" as v;
@use "@styles/partials/mixins" as m;

/* =========================== */
/* ✅ Navbar Main Container    */
/* =========================== */
.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  padding: m.rem(32);
  pointer-events: all;
  animation: fadeSlideIn 0.7s ease forwards;

  @media screen and (max-width: 768px) {
    padding: m.rem(24);
    background: rgba(0, 0, 0, 0.9);
    height: 100dvh;
  }
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* =========================== */
/* ✅ Navbar List              */
/* =========================== */
.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: m.rem(24);
  z-index: 10001;

  @media screen and (max-width: 768px) {
    gap: m.rem(20);
  }
}

/* =========================== */
/* ✅ Navbar Item Styling      */
/* =========================== */
.navItem {
  font-size: m.rem(30);
  font-weight: 400;
  color: v.$white;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem 1rem;
  text-align: center;

  &:hover {
    transform: scale(1.05);
    color: v.$hover-bg;
  }

  @media screen and (max-width: 768px) {
    font-size: m.rem(24);
  }
}

/* =========================== */
/* ✅ Active Nav Item Style    */
/* =========================== */
.active {
  font-weight: bold;
  border-bottom: m.rem(2) solid rgba(255, 255, 255, 0.4);

  @media screen and (max-width: 768px) {
    border-bottom: m.rem(1) solid rgba(255, 255, 255, 0.4);
  }
}
