@use "@styles/partials/variables" as v;
@use "@styles/partials/mixins" as m;

/* ================================ */
/* ✅ FORM STYLING                  */
/* ================================ */
.contactForm,
.mobileContactForm {
  padding: 2rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid rgba(61, 68, 77, 0.7);
  background-color: rgba(21, 27, 35, 0.87);
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-sizing: border-box;
}
.mobileContactForm {
  text-align: -webkit-left;
}
/* ✅ Default row for desktop */
.formRow {
  display: flex;
  gap: 1rem;

  .formGroup {
    width: 50%; // Ensure each input takes up half the row
  }
}

/* ✅ Stack inputs in column when mobile */
@media (max-width: 768px) {
  .formRow {
    flex-direction: column;

    .formGroup {
      width: 100%; // Full width on small screens
    }
  }
}

/* ✅ Form Group Styling */
.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  label {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0.3rem;
  }

  .inputField {
    background: rgba(0, 0, 0, 0.68);
    color: white;
    border: 0.0625rem solid rgba(255, 255, 255, 0.3);
    padding: 0.8rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    transition:
      border 0.3s ease-in-out,
      color 0.3s ease-in-out;

    &:focus {
      border-color: #58aae9;
      outline: none;
    }

    &.error {
      border-color: rgba(255, 0, 0, 0.7);
    }

    &.error::placeholder {
      color: rgba(255, 0, 0, 0.7);
    }
  }

  textarea {
    resize: none;
  }
}

/* ✅ Submit Button */
.submitButton {
  margin-top: 1rem;
  font-size: 1.1rem;
  padding: 0.6rem;
  width: 25%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  background-color: rgb(20, 20, 20);
  transition: all 0.3s ease-in-out;
  border: 0.0625rem solid rgba(255, 255, 255, 0.2);

  span {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
    span {
      color: black;
    }
  }
}
