@use "@styles/partials/variables" as v;
@use "@styles/partials/mixins" as m;

.bannerWrapper {
  position: relative;
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: self-end;
  padding-bottom: 5rem;
  padding-left: 1.8rem;
  overflow: hidden;
  @media (max-width: 768px) {
    padding-left: 1.7rem;
  }

  &::-webkit-scrollbar {
    width: 0px;
    display: none;
  }

  /* Fix Scrollbar Differences */
  &::-webkit-scrollbar {
    width: 0px;
    display: none;
  }
}
@keyframes fadeInGradient {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fix Scrollbar Differences */

.bannerTextBelowNav {
  z-index: 1;
  .bannerTitle {
    font-size: 2.3rem;
    margin: 0;
    font-family: "Futura", "Helvetica Neue", sans-serif;
    color: var(--text-color);
  }

  .bannerSubtitle {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
  }
}

@media screen and (max-width: 1024px) {
  .bannerTextBelowNav {
    width: 60%;

    .bannerTitle {
      font-size: 22px;
    }

    .bannerSubtitle {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .bannerTextBelowNav {
    width: 60%;

    .bannerTitle {
      font-size: 22px;
    }

    .bannerSubtitle {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .bannerTextBelowNav {
    width: 60%;

    .bannerTitle {
      font-size: 20px;
    }

    .bannerSubtitle {
      font-size: 1rem;
    }
  }
}
