@use "@styles/partials/variables" as v;
@use "@styles/partials/mixins" as m;

.dropdownContainer {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.dropdownButton {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 14rem;

  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  .categoryText {
    flex-grow: 1;
    text-align: left;
  }

  .arrowDown {
    font-size: 1.5rem;
    position: absolute;
    right: 6.5rem;
    top: 1.1rem;
  }

  .arrowUp {
    font-size: 1.5rem;
    position: absolute;
    right: 6.5rem;
    top: 1.1rem;
    transform: rotate(180deg);
  }
}

.categoryText {
  flex-grow: 1;
  text-align: left;
}

.dropdownContent {
  position: absolute;
  bottom: 120%; // This pushes the dropdown up when opened
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  padding: 10px 0;
  width: 220px;
  display: flex;
  flex-direction: column;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.2),
    0 4px 8px rgba(0, 0, 0, 0.2);
}
.dropdownItem {
  padding: 12px 20px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border-radius: 10px;

  &:hover {
    background: rgba(255, 255, 255, 0.713);
    color: black;
  }
}
