@use "@styles/partials/variables" as v;
@use "@styles/partials/mixins" as m;

/* =========================== */
/* ✅ Dropdown Container Styling */
/* =========================== */
.dropdownContainer {
  position: relative;
  z-index: 10001;
  pointer-events: all;

  @media (max-width: 768px) {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    padding: 0.25rem 1rem;
    border-radius: m.rem(10);
  }
}

/* =========================== */
/* ✅ Dropdown Button Styling   */
/* =========================== */
.dropdownButton {
  background: rgba(0, 0, 0, 0.8);
  color: var(--text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.5rem 1rem;
  border-radius: m.rem(30);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  width: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .buttonContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .categoryText {
      margin-left: 0.7rem;
    }

    .arrow {
      display: flex;
      align-items: center;
    }
  }

  &:hover {
    background: rgba(0, 0, 0, 0.85);
  }
}

/* =========================== */
/* ✅ Dropdown Item Styling     */
/* =========================== */
.dropdownContent {
  margin-top: 0.4rem;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: m.rem(10);
  padding: 0.3em;
  width: 100%;
}

.dropdownItem {
  padding: m.rem(6) m.rem(12);
  font-size: 0.95rem;
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.15s ease-in-out;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.activeItem {
  background-color: rgba(255, 255, 255, 0.15);
  font-weight: bold;
}
