.preloaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.3); // ✅ or transparent
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px); // ✅ Safari

  pointer-events: none;
  transition: opacity 0.8s ease-in-out;

  .logo {
    width: m.rem(100);
    height: auto;
    margin-bottom: 10rem; // ✅ Optional: pushes logo down
    object-fit: contain;
    z-index: 10;
  }
}
