.progressWrapper {
  width: 35%;
  height: 4px;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  border-radius: 10px;
  margin: 2px;
}

.progressBar {
  height: 100%;
  background: white;
  width: 0%;
}
