@use "@styles/partials/variables" as v;
@use "@styles/partials/mixins" as m;

/* =========================== */
/* ✅ Progress Wrapper         */
/* =========================== */
.progressWrapper {
  /* ===== Layout ===== */
  width: 35%;
  height: 4px;

  /* ===== Visual ===== */
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  border-radius: 10px;

  /* ===== Spacing ===== */
  margin: 2px;
}

/* =========================== */
/* ✅ Progress Bar Style      */
/* =========================== */
.progressBar {
  /* ===== Layout ===== */
  height: 100%;
  background: v.$white;

  /* ===== Motion ===== */
  width: 0%;
}
