.noNavbar {
  display: "none";
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  width: -webkit-fill-available !important;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  color: #a6b7ba;
  height: 50px;
  cursor: pointer;
}

.menuButton {
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 1001;
}

.menuOverlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.closeButton {
  position: absolute;
  top: 2rem;
  right: 3rem;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
