.noNavbar {
  display: "none";
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  width: -webkit-fill-available !important;
  padding: 4.5rem;
  background: transparent;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  color: #a6b7ba;
  cursor: pointer;
}

.menuButton {
  z-index: 1001;
  border: none;
  background: none;
  color: white;
  font-size: 3rem;
  cursor: pointer;
}

.menuButton.noActive {
  color: transparent;
}

.menuOverlay {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 100%;
  background: rgb(0 0 0 / 80%);
  flex-direction: column;
}

.closeButton {
  position: absolute;
  top: 4.5rem;
  right: 4.5rem;
  border: none;
  background: none;
  color: white;
  font-size: 3rem;
  cursor: pointer;
}
