@use "@styles/partials/variables" as v;
@use "@styles/partials/mixins" as m;

.categoryTab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: m.rem(200);
  height: m.rem(40);
  padding: 0 m.rem(16);
  min-width: m.rem(80);
  letter-spacing: m.rem(1.1);
  font-size: m.rem(16);
  text-transform: capitalize;
  color: v.$white;
  background-color: transparent;
  border: m.rem(0.5) solid v.$gray;
  border-radius: m.rem(20);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    background: rgba(v.$white, 0.2);
  }

  &.active {
    background: #3e3e3e;
    color: v.$white;
    text-decoration: underline;
    text-underline-offset: m.rem(6);
    text-decoration-thickness: m.rem(1);
  }
}
