@use "@styles/partials/variables" as v;
@use "@styles/partials/mixins" as m;

.contactContainer {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 2rem;
    font-weight: 500;
    color: white;
    margin-bottom: 0.2rem;
  }

  p {
    font-size: 1.3rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0.5rem;
    width: 90%;
  }
}
.mobileContactContainer {
  display: flex;
  flex-direction: column;
  height: 50vh !important;
  width: 75%;
  text-align: left !important;
  justify-self: left !important;
  margin-left: 6%;
  overflow-y: hidden;

  h2 {
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    margin-bottom: 0.2rem;
  }

  p {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0.5rem;
    width: 90%;
  }
}
