@use "@styles/partials/variables" as v;
@use "@styles/partials/mixins" as m;

.contactContainer {
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    margin-bottom: 0.2rem;
  }

  p {
    font-size: 0.8rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0.5rem;
    width: 90%;
  }
}

@include m.respond-to("small-mobile") {
  .contactContainer {
    width: 60%;
  }
}

@include m.respond-to("mobile") {
  .contactContainer {
    width: 60%;
  }
}

@include m.respond-to("tablet") {
  .contactContainer {
    width: 60%;
  }
}
