.bannerWrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: black; // Default background before images load
}

.bannerImageWrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; // Ensure image stays behind text
}

.bannerImage {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.bannerTitleWrapper {
  position: absolute;
  bottom: 20%;
  left: 8%;
  width: 20%;
  z-index: 1;
  color: white;

  .bannerTitle {
    font-family: "Futura", "Helvetica Neue", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
  }

  .bannerSubtitle {
    font-size: 2rem;
    margin-top: 0.5rem;
  }
}
