@use "@styles/partials/variables" as v;
@use "@styles/partials/mixins" as m;

.projectsControl {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
  height: 30vh;
  width: 100%;
  background: v.$black;
  @include m.scrollbar-style(v.$gray, v.$white);
  padding: m.rem(16);
  box-sizing: border-box;
}

/* Title Section */
.projectsTitleBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  border-bottom: 0.8px solid rgba(v.$white, 0.566);

  .projectsTitle {
    margin: 0;
    width: 100%;
    font-size: clamp(m.rem(28), 5vw, m.rem(45));
    font-weight: 500;
    letter-spacing: -0.625px;
    line-height: 1.2;
    color: v.$white;
    text-align: left;
    margin-bottom: 3%;
  }
}

/* Selector Section */
.projectsSelectorBox {
  display: flex;
  flex-direction: column;
  gap: m.rem(16);
  width: 100%;
  margin-top: m.rem(20);

  .projectsSelector {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 100%;
    gap: m.rem(16);
    justify-content: center;
  }
}

/* =========================== */
/* 📌 MOBILE VIEW (UNDER 500px) */
/* =========================== */
.mobileProjectsControl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 13vh;
  width: 100%;
  background: v.$black;
  padding: m.rem(16);
  box-sizing: border-box;
  .mobileProjectsTitleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 1rem;

    h1 {
      font-size: 1.6rem;
      font-family: "Raleway", sans-serif;
      color: rgba(255, 255, 255, 0.899);
      font-weight: 400;
    }
  }

  /* Position dropdown at the bottom */
  .mobileProjectsSelectorWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed; // Fix it at the bottom of the viewport
    bottom: 2%; // Position it slightly above the edge
    left: 50%;
    transform: translateX(-50%); // Center horizontally
    z-index: 15; // Ensure it's above other elements
  }
}

/* Title */
