@use "@styles/partials/variables" as v;
@use "@styles/partials/mixins" as m;

.projectsControl {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 0vh;
  width: 100%;
  background: v.$black;
  @include m.scrollbar-style(v.$gray, v.$white);
  padding: m.rem(16);
  box-sizing: border-box;
  z-index: 10;
}

/* Title Section */
.projectsTitleBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  border-bottom: 0.8px solid rgba(v.$white, 0.566);

  .projectsTitle {
    margin: 0;
    width: 100%;
    font-size: clamp(m.rem(28), 5vw, m.rem(45));
    font-weight: 500;
    letter-spacing: -0.625px;
    line-height: 1.2;
    color: v.$white;
    text-align: left;
    margin-bottom: 3%;
  }
}

/* Selector Section */
.projectsSelectorBox {
  display: flex;
  flex-direction: column;
  gap: m.rem(16);
  width: 100%;
  margin-top: m.rem(20);

  .projectsSelector {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 100%;
    gap: m.rem(16);
    justify-content: center;
  }
}

/* =========================== */
/* 📌 MOBILE VIEW (UNDER 500px) */
/* =========================== */
.mobileProjectsControl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: transparent;
  box-sizing: border-box;

  /* Position dropdown at the bottom */
  .mobileProjectsSelectorWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    top: 1.7%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100000;
  }
}
